* {
    margin: 0px;
    padding: 0px;
}

#navbar {
    width: 100%;
    height: 50px;
    background-color: aqua;
    text-decoration: none;
}

#navbar a:link, a:visited, a:active {
    text-decoration: none;
}

#main-index {
    display: flex;
}

#group-index {
    width: 30%;
    height: 600px;
    background-color: red;
    margin: 10px;
}

#table-index {
    width: 70%;
    height: 600px;
    background-color: blue;
    margin: 10px;
}

#main-archive {
    display: flex;
}

#group-archive {
    width: 30%;
    height: 600px;
    background-color: yellow;
    margin: 10px;
}

#table-archive {
    width: 70%;
    height: 600px;
    background-color: green;
    margin: 10px;
}